version: '3'
services:
  mysqldb:
    image: mysql:latest
    ports:
      - '3306:3306'
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
      - MYSQL_DATABASE=app
      - MYSQL_USER=app
      - MYSQL_PASSWORD=pass
    volumes:
      - /SQL/resources:/docker-entrypoint-initdb.d/:ro
    
  adminer:
    image: adminer
    restart: always
    ports:
       - 8099:8080